<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
</head>
<body>
    <h1>The home page <%=4+5+6%></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nobis eum, eveniet perferendis itaque optio? Facere minima, repellat fuga veritatis dolorem reiciendis sit! Asperiores consequuntur maxime maiores quae, sunt unde. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis voluptate laboriosam magnam odit suscipit sed qui ducimus neque laudantium quod facere temporibus sequi architecto placeat impedit officiis itaque, ex culpa.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni architecto quidem iste facilis a assumenda voluptatum distinctio, eius dolorem inventore qui neque. Voluptatum quis quo commodi, sed voluptate perferendis veniam?</p>
</body>
</html>